body {background-color: rgb(29, 27, 27);

}
h1 {
    text-align: center;
    font-family: Merriweather; 
    color: rebeccapurple;
    }

    @import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
p {
    font-family: Playfair;
    font-weight: 400;
    color: whitesmoke;
}
